@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    @font-face {
        font-family: "DMSans";
        src: url(./assets/DMSANS.ttf);
    }
    html {
        font-family: "DMSans" ;
    }
}